<!--{% extends "base.html" %}
{% block title %}
    Account Creation |
{% endblock title %}

{% block content %}
    Email
    <input type="email" class="inputtext" id="email" style="margin-left: 15px; margin-right: -23px;"><br>
    Username
    <input type="text" class="inputtext" id="username2" style="margin-left: 9px;"><br>
    Password
    <input type="password" class="inputtext" id="password2" style="margin-left: 12px;"><br>
    <form name="loginForm" class="form-signin" novalidate method="post">
    <input type="button" class="btn btn-primary" type="submit" value="Submit"/>
    </form>
    any other info
{% endblock content %}
-->