{% extends "base.html" %}

{% block title %}AngularJS, Django: Todo Application | Home{% endblock title %}

{% block login_link %}
    <li class="active"><a href="/">Login</a></li>
{% endblock login_link %}

{% block content %}
    <div ng-controller="LoginController">
        <div id="messages" ng-show="message">{% verbatim %} {{ message }} {% endverbatim %}</div>

        {% if message %}
            Django Message: {{ message }}
        {% endif %}

        <form name="loginForm" class="form-signin" novalidate method="post" action="/login">
            {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" name="username" class="form-control" placeholder="Email address" ng-model="user.username"
                   required autofocus>
            <span ng-show="hasError('username')">Email address is required</span>
            <span ng-show="errorUsername">{% verbatim %} {{ errorUsername }} {% endverbatim %}</span>

            <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password"
                   required>
            <span ng-show="hasError('password')">Password is required</span>
            <span ng-show="errorPassword">{% verbatim %} {{ errorPassword }} {% endverbatim %}</span>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            <br>
        </form>
        <form class="form-signin" action="/create_user">
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: -43px;">
                Create Account
            </button>
            <div style="font-size: 8px;">
            <p class="text-muted">You don't need an account to use this app<br> But if you wish to be able to view your
                work history, and do this again, account creation is suggested </p>
            </div>
        </form>
    </div>
{% endblock content %}
